<ul id="menu">
    <li>
        <a [routerLink]="['/']">Home</a>
    </li>
    <li>
        <a [routerLink]="['/numerodoble/7']">Doble 7</a>
    </li>
    <li>
        <a [routerLink]="['/numerodoble/14']">Doble 14</a>
    </li>    
    <li>
        <a [routerLink]="['/numerodoble']">Doble sin Param</a>
    </li>
    <li>
        <a [routerLink]="['/television']">Televisión</a>
    </li>
    <li>
        <a [routerLink]="['/cine']">Cine</a>
    </li>
    <li>
        <a [routerLink]="['/musica']">Música</a>
    </li>
    <li>
        <a [routerLink]="['/pathinventado']">No existe Ruta</a>
    </li>
</ul>
